.nav-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.nav-container img {
    height: 30px;
}

.btn-register {
    background-color: #1B3785;
    color: #fff;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    transition: filter 0.2s;
    font-size: 18px;
    margin-right: 20px;
    border: 0;
}

.btn-register:hover {
    filter: brightness(90%)
}

.btn-login {
    background-color: #829BE1;
    color: #fff;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    transition: filter 0.2s;
    font-size: 18px;
    border: 0px;
}

.btn-login:hover {
    filter: brightness(90%)
}

.btn-logout {
    background-color: #ab2727;
    color: #fff;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    transition: filter 0.2s;
    font-size: 18px;
    border: 0px;
}

.btn-logout:hover {
    filter: brightness(90%)
}